project:
  type: book

book:
  title: "**O ciclo de análise de dados**"
  subtitle: "Um roteiro completo para resolver problemas do dia a dia"
  author: "**Análise Macro**"
  chapters:
    - index.qmd
    - introducao.qmd
    - ciclo.qmd
    - conclusao.qmd
  site-url: https://analisemacro.com.br/
  search: true
  downloads: [pdf, epub, docx]
  sharing: [twitter, facebook, linkedin]
  output-file: "o-ciclo-de-analise-de-dados"
  sidebar: 
    logo: "imagens/logo_am.png"
    logo-alt: "Logotipo Análise Macro"
  favicon: "imagens/favicon.png"

format:
  html:
    theme:
      - cosmo
      - ciclo.scss
    toc-expand: true
    lang: pt
  pdf:
    documentclass: scrreprt
    lang: pt
  epub:
    toc: true
    lang: pt
  docx: 
    toc: false
    lang: pt
    fig-width: 4.5
